### 01 Exploratory Data Analysis

##### Overview

**Data Selection:** Almost anything might help predict commodities prices and a colossal range of potentially-relevant datasets are available.  Based on the assumptions and strategies outlined [here](README.md), the following criteria for selecting data are used:
* Must be consistently availabe to inform the model at decision-time
* Must be publicly available

* Previous price data for target commodities
*

##### Environment

In [ ]:
# Designed for Python 3.11.9
!python -m pip install -r requirements.txt --upgrade

Requirement already satisfied: pandas in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from -r requirements.txt (line 3)) (2.2.3)
Requirement already satisfied: ibis-framework[duckdb] in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from -r requirements.txt (line 2)) (9.5.0)
Requirement already satisfied: atpublic<6,>=2.3 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ibis-framework[duckdb]->-r requirements.txt (line 2)) (5.0)
Requirement already satisfied: duckdb<1.2,>=0.8.1 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ibis-framework[duckdb]->-r requirements.txt (line 2)) (1.1.3)
Requirement already satisfied: numpy<3,>=1.23.2 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ibis-framework[duckdb]->-r requirements.txt (line 2)) (2.1.3)
Requirement already satisfied: packaging<25,>=21.3 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ibis-framework[duckdb]->-r requirements.txt (line 2)) (24.2)
Requirement already satisfied: parsy<3,>=2 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ibis-framework[duckdb]->-r requirements.txt (line 2)) (2.1)
Requirement already satisfied: pyarrow<18,>=10.0.1 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ibis-framework[duckdb]->-r requirements.txt (line 2)) (17.0.0)
Requirement already satisfied: pyarrow-hotfix<1,>=0.4 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ibis-framework[duckdb]->-r requirements.txt (line 2)) (0.6)
Requirement already satisfied: python-dateutil<3,>=2.8.2 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ibis-framework[duckdb]->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2022.7 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ibis-framework[duckdb]->-r requirements.txt (line 2)) (2024.2)
Requirement already satisfied: rich<14,>=12.4.4 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ibis-framework[duckdb]->-r requirements.txt (line 2)) (13.9.4)
Requirement already satisfied: sqlglot<25.21,>=23.4 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ibis-framework[duckdb]->-r requirements.txt (line 2)) (25.20.2)
Requirement already satisfied: toolz<1,>=0.11 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ibis-framework[duckdb]->-r requirements.txt (line 2)) (0.12.1)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ibis-framework[duckdb]->-r requirements.txt (line 2)) (4.12.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->-r requirements.txt (line 3)) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil<3,>=2.8.2->ibis-framework[duckdb]->-r requirements.txt (line 2)) (1.16.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from rich<14,>=12.4.4->ibis-framework[duckdb]->-r requirements.txt (line 2)) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from rich<14,>=12.4.4->ibis-framework[duckdb]->-r requirements.txt (line 2)) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\haits\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from markdown-it-py>=2.2.0->rich<14,>=12.4.4->ibis-framework[duckdb]->-r requirements.txt (line 2)) (0.1.2)

In [ ]:
# Alternative for running in Colab etc
!python -m pip install --upgrade pip
!python -m pip install ibis-framework[duckdb] --upgrade

In [17]:
!pip install PiML==0.6.0

ERROR: Could not find a version that satisfies the requirement PiML==0.6.0 (from versions: none)
ERROR: No matching distribution found for PiML==0.6.0

##### Load Data

In [1]:
import ibis
ibis.options.interactive = True
con = ibis.connect("duckdb://")

In [ ]:
# TODO change this to get data from Github
path = 'datasets/'

csvs = [
    'hg', # US copper on COMEX, USD/pound
    'brent', # Brent crude oil, USD/barrel
    'umcsent', # US consumer sentiment, as measured by the University of Michigan
]

datasets = {}

for filename in csvs:
    datasets[filename] = ibis.read_csv(path + filename + '.csv')
    print(filename + ': ' + str(datasets[filename].to_pandas().shape))

hg: (436, 7)
brent: (437, 7)
umcsent: (561, 2)

##### Summary Statistics

In [10]:
datasets['hg'].to_pandas().describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Date,436,436,1988-01-08,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Price,436.0,NaN,NaN,NaN,2.176692,1.242033,0.0125,1.011375,2.07275,3.300125,4.752
Open,436.0,NaN,NaN,NaN,2.173623,1.236597,0.627,1.014,2.065,3.29575,4.717
High,436.0,NaN,NaN,NaN,2.286661,1.306242,0.654,1.05025,2.211,3.406375,5.187
Low,436.0,NaN,NaN,NaN,2.06227,1.164979,0.608,0.97375,1.96975,3.07,4.4685
Vol.,430,417,5.80K,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Change %,436,397,5.02%,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
datasets['brent'].to_pandas().describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Date,437,437,1988-01-07,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Price,437.0,NaN,NaN,NaN,51.654462,32.807121,10.46,19.84,48.61,75.2,139.83
Open,437.0,NaN,NaN,NaN,51.47135,32.73715,10.44,19.57,47.95,75.0,140.44
High,437.0,NaN,NaN,NaN,54.951213,34.549401,11.3,20.9,51.78,79.95,147.5
Low,437.0,NaN,NaN,NaN,47.986957,30.836172,9.55,18.73,43.03,70.77,121.32
Vol.,437,388,4.21M,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Change %,437,399,10.28%,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
datasets['umcsent'].to_pandas().describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
DATE,561,561,2024-01-09,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UMCSENT,561.0,NaN,NaN,NaN,84.771658,13.255908,50.0,74.1,88.4,94.6,112.0

##### Correlations

In [ ]:
# Correlation Matrix

In [ ]:
# Small Multiples - scatterplots

In [ ]:
# Small Multiples - hexmaps

##### Experiemental Models

In [ ]:
import pandas as pd
from piml import Experiment
from piml.models import XGB2Classifier